@media(min-width:1201px) and (max-width:3000px){
    .cabeçalho{
        width: 100%;
        margin: auto;
    }
    .container{
        width: 1200px;
        margin: auto;
    }
    
}
@media(min-width:850px) and (max-width:1200px){
    .cabeçalho{
        width: 100%;
        margin: auto;
    }
    .container{
        width: 100%;
        margin: auto;
    }
}
@media(min-width:500px) and (max-width:850px){
    .cabeçalho{
        width: 100%;
        margin: auto;
    }
    .container{
        width: 100%;
        margin: auto;
    }
    .outrass p{
        display: flex;
        width: 100%;
        text-align: justify;
    }
    .outrass img{
        display: flex;
        width: 350px;
        height: 350px;
        border-radius: 15px;
        border: solid 2px #fe3e28;
    }
    
}
@media(min-width:300px) and (max-width:500px){
    .cabeçalho{
        width: 100%;
        margin: auto;
    }
    .container{
        width: 100%;
        margin: auto;
    }
    .descriçao {
        padding-bottom: 15px;
    }
    .descriçao img{
        width: 100px;
        height: 100px;
    }
    .descriçao p{
        margin: auto;
        height: auto;
    }
    .outrass p{
        display: flex;
        width: 100%;
        text-align: justify;
    }
    .outrass img{
        display: flex;
        width: 300px;
        height: 300px;
        border-radius: 15px;
        border: solid 2px #fe3e28;
        margin-bottom: 10px;
    }

}

